@charset "utf-8";
/* CSS Document */
/* Overlays */
*{box-sizing:border-box}
#container header h1 {
}

	body{
}
#container{
	width: 100%;
	margin:0 auto;
	
}
header{
			
			width:100%;
			height:150px
			}
nav{
			background-color:green;
			width:100%;
			height:35px;
			margin-top:5px;
			}
#picture{
	width:100%;
	background-image:url("pictures/my-hero-academia-1-700x280.jpg");
	height:400px;
}
