@charset "utf-8";
/* CSS Document */
/* Overlays */
*{box-sizing:border-box}
#container header h1 {
}

	body{
}
#container{
	width: 100%;
	margin:0 auto;
	
}
header{
			
			width:100%;
			height:150px
			}
nav{
			background-color:green;
			width:100%;
			height:35px;
			margin-top:5px;
			}
#picture{
	background-color: brown;
	width:100%;
	height:400px;
}
article{
	
}
footer{
	background-image: url("pictures/s902836036556817015_p357_i6_w512.jpeg");
	width: 100%;
	height: 150px;}